# Exclude all files at the root
/*

# But include the templates directory
!/source/templates
!/dist/templates

# In the templates directory, include .gitignore and .env files
!/source/templates/**/*.gitignore
!/source/templates/**/*.env
!/dist/templates/**/*.gitignore
!/dist/templates/**/*.env

# Exclude other unnecessary files and directories
node_modules
.DS_Store
.git
coverage
dist
*.log